<!--paginate.ejs-->
<br>
<div class="container">
    <div class="columns">
        <% events.forEach( function(event) { %>

            <div class="column is-4">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= event.imgUrl %>" width="640" height="480">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">
                                    <a href="/event/read/<%= event.id %>">
                                        <%= event.eventName %>
                                    </a>
                                </p>
                                <p class="subtitle is-6">
                                    <%= event.organizer %>
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <%= event.shortDescription %>
                                <br>
                                <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
                                <%= event.eventDate %>
                                    <br>
                                    <%= event.startTime %> - <%= event.endTime %>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
                <div class="column is-4">
                    <form action="/event/search" method="GET">
                        <div class="field">
                            <label class="label">Event Name</label>
                            <div class="control">
                                <input class="input" type="text" name="eventName" placeholder="Event Name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Organizer</label>
                            <div class="select">
                                <select style="width: 400px;" name="organizer">
                                    <option selected disabled>Select organization</option>
                                    <option value="Department of Computer Science">Department of Computer Science
                                    </option>
                                    <option value="Department of Economics">Department of Economics</option>
                                    <option value="Department of Accountancy & Law">Department of Accountancy & Law
                                    </option>
                                    <option value="Department Marketing">Department Marketing</option>
                                    <option value="Department Finance & Decision Science">Department Finance &
                                        Decision
                                        Science
                                    </option>
                                    <option value="Department of Management">Department of Management</option>
                                    <option value="Music Society">Music Society</option>
                                    <option value="Student Union">Student Union</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Start Date</label>
                            <div class="control">
                                <input class="input" type="date" name="startDate">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">End Date</label>
                            <div class="control">
                                <input class="input" type="date" name="endDate">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Venue</label>
                            <div class="select">
                                <select style="width: 400px;" name="venue">
                                    <option selected disabled>Select venue</option>
                                    <option value="ZOOM">ZOOM</option>
                                    <option value="AAB">AAB</option>
                                    <option value="WLB">WLB</option>
                                    <option value="DLB">DLB</option>
                                    <option value="LT3">LT3</option>
                                    <option value="FSC">FSC</option>
                                    <option value="SHSH">SHSH</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
    </div>
</div>
<br>
<div class="columns">
    <div class="column is-two-thirds">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" id="previousButton">Previous</a>
            <a class="pagination-next" id="nextButton">Next page</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link" id="firstLink">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a class="pagination-link" id="previousLink">45</a>
                </li>
                <li>
                    <a class="pagination-link is-current" id="currentLink">46</a>
                </li>
                <li>
                    <a class="pagination-link" id="nextLink">47</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a class="pagination-link" id="lastLink">86</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    function buildLinks() {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");

        var total = parseInt("<%= total %>");
        var perPage = Math.max(parseInt("<%= req.query.perPage %>"), 2) || 2;
        var current = Math.max(parseInt("<%= req.query.current %>"), 1) || 1;

        var baseUrl = "/event/paginate?perPage=" + perPage + "&current=";

        firstLink.href = baseUrl + 1;
        previousButton.href = baseUrl + (current - 1);
        previousLink.href = baseUrl + (current - 1);
        currentLink.href = baseUrl + current;
        nextLink.href = baseUrl + (current + 1);
        nextButton.href = baseUrl + (current + 1);
        lastLink.href = baseUrl + Math.ceil(total / perPage);

        previousLink.innerHTML = current - 1;
        currentLink.innerHTML = current;
        nextLink.innerHTML = current + 1;
        lastLink.innerHTML = Math.ceil(total / perPage);

        if (current <= 1) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        }

        if (current >= Math.ceil(total / perPage)) {
            nextButton.setAttribute("disabled", true);
            nextButton.href = "";
            nextLink.style.display = "none";
        }
    }

    buildLinks();

</script>